<div id="<%= dom_id reader %>">
  <p>
    <strong>Reader name:</strong>
    <%= reader.reader_name %>
  </p>

  <p>
    <strong>Book name:</strong>
    <%= reader.book_name %>
  </p>

  <p>
    <strong>Purchased date:</strong>
    <%= reader.purchased_date %>
  </p>

  <p>
    <strong>Reader email:</strong>
    <%= reader.reader_email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= reader.phone_number %>
  </p>

</div>
